body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 1280px;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  top: 0px;
  padding: 4px;
  z-index: 20;
}
header img {
  height: 50px;
  padding: 10px;
}
header a {
  color: seashell;
  padding: 10px;
}
.container {
  position: relative;
  top: 69px;
  z-index: 15;
}
.mission {
  background: url(../images/background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin-left: 40px;
}
.mission h2,
.mission h4 {
  background-color: black;
  width: 1200px;
  margin: 0px;
  padding: 10px;
}
/*Tea of the Month*/
.feature {
  width: 1000px;
  margin: 40px 40px 40px 140px;
  padding: 20px 0px;
}
.feature.images {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}
.feature img {
  height: 200px;
  width: 300px;
  padding: 10px;
}
.feature.images h4,
.feature h4 {
  margin: 0px;
  padding-bottom: 10px;
}
.locations {
  background: url(../images/locations.jpg);
  height: 550px;
  width: 1200px;
  margin-left: 40px;
}
.locations h2 {
  padding-top: 75px;
  margin-bottom: 0px;
}
.addresses {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
}
.addresses div {
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 15px 20px;
}
.addresses h3,
.addresses h4 {
  padding: 5px;
}
footer {
  height: 200px;
  width: 1280px;
}
copy {
  display: flex;
  margin-left: 20px;
}
